---
import {SITE_DESCRIPTION, SITE_TITLE, SITE_TITLE_FULL, SITE_LANG} from "~/consts";
import BaseHead from "~/components/layout/BaseHead.astro";
import Header from "~/components/layout/Header.astro";
import Footer from "~/components/layout/Footer.astro";
import Sidebar from '~/components/layout/Sidebar.astro'

interface Props {
    /** When true (default), sidebar collapses to drawer on mobile */
    collapsible?: boolean
}

const { collapsible = true } = Astro.props
let html = '';
if (Astro.slots.has('sidebar')) {
    html = await Astro.slots.render('sidebar', []);
}
---


<html lang={SITE_LANG}>
<head>
    <BaseHead title={SITE_TITLE_FULL} description={SITE_DESCRIPTION}/>
</head>

<body class="neu-bg">
<Header/>

<div class="main-layout">
    <Sidebar collapsible={collapsible}>
        <Fragment slot="sidebar" set:html={html}/>
    </Sidebar>

    <main class="box-border flex-1 flex-col md:p-16 p-6 w-full">
        <slot/>
    </main>
</div>

<Footer/>
</body>
</html>
