---
import {Tabs, TabItem, Code} from '@astrojs/starlight/components';

interface Props {
    snippets: Array<{
        lang: string;
        code: string;
        title: string;
        mark?: string[];
    }>;
}

const {snippets} = Astro.props;
---

<figure>
    {
        snippets.length > 1 ?
                <Tabs syncKey="content-type">
                    {
                        snippets.map(
                            (snippet) => (
                                    <TabItem label={snippet.title}>
                                        <Code code={snippet.code} lang={snippet.lang} title={snippet.title}
                                              mark={snippet.mark}></Code>
                                    </TabItem>
                            )
                        )
                    }
                </Tabs> :
            snippets.length == 1 ?
                    <Code code={snippets[0].code} lang={snippets[0].lang} title={snippets[0].title}
                          mark={snippets[0].mark}></Code> :
                    <span>? 没写东西，哥们😅 </span>
    }

    <div class="preview">
        <div class="preview-content">
            <slot name="preview"/>
        </div>
    </div>
</figure>

<style>
    :global(.sl-markdown-content) .preview {
        border: 1px solid var(--sl-color-gray-5);
        border-top: none;
        margin-top: 0;
    }

    .preview:only-child {
        border-top: 1px solid var(--sl-color-gray-5);
    }

    figcaption {
        font-size: var(--sl-text-sm);
        font-weight: 600;
        padding: 0.5rem 1rem 0;
    }

    :global(.sl-markdown-content) .preview-content {
        margin-top: 0;
        padding: 1rem;
    }
</style>
